<!DOCTYPE html>
<html>
    <head>
        <title>Configuration Manager</title>
    </head>
    <body>
        <h2>Build 1</h2>
        <form action="/edit">
            <fieldset>
                <legend>Build 1</legend>
                <input type="hidden" name="index" value="1">
            Account:<br>
            <input type="text" name="account" value="" placeholder="fabrikam">
            <br>
            Project:<br>
            <input type="text" name="project" value="" placeholder="Backend API">
            <br>
            Build ID:<br>
            <input type="number" name="build" value="" placeholder="Backend API">
            <br>
            Username:<br>
            <input type="text" name="username" value="" placeholder="johndoe">
            <br>
            Password:<br>
            <input type="password" name="password" value="" placeholder="password">
            <br>
            <br>
            <input type="submit" value="Submit">
            </fieldset>
        </form>
        <br>
        <h2>Build 2</h2>
        <form action="/edit">
            <fieldset>
                <legend>Build 2</legend>
                <input type="hidden" name="index" value="2">
            Account:<br>
            <input type="text" name="account" value="" placeholder="fabrikam">
            <br>
            Project:<br>
            <input type="text" name="project" value="" placeholder="Backend API">
            <br>
            Build ID:<br>
            <input type="number" name="build" value="" placeholder="Backend API">
            <br>
            Username:<br>
            <input type="text" name="username" value="" placeholder="johndoe">
            <br>
            Password:<br>
            <input type="password" name="password" value="" placeholder="password">
            <br>
            <br>
            <input type="submit" value="Submit">
            </fieldset>
        </form>
        <br>
        <h2>Build 3</h2>
        <form action="/edit">
            <fieldset>
                <legend>Build 3</legend>
                <input type="hidden" name="index" value="3">
            Account:<br>
            <input type="text" name="account" value="" placeholder="fabrikam">
            <br>
            Project:<br>
            <input type="text" name="project" value="" placeholder="Backend API">
            <br>
            Build ID:<br>
            <input type="number" name="build" value="" placeholder="Backend API">
            <br>
            Username:<br>
            <input type="text" name="username" value="" placeholder="johndoe">
            <br>
            Password:<br>
            <input type="password" name="password" value="" placeholder="password">
            <br>
            <br>
            <input type="submit" value="Submit">
            </fieldset>
            
        </form>
        <br>
        <form action="/edit">
            <fieldset>
                <legend>Build 4</legend>
                <input type="hidden" name="index" value="4">
            Account:<br>
            <input type="text" name="account" value="" placeholder="fabrikam">
            <br>
            Project:<br>
            <input type="text" name="project" value="" placeholder="Backend API">
            <br>
            Build ID:<br>
            <input type="number" name="build" value="" placeholder="Backend API">
            <br>
            Username:<br>
            <input type="text" name="username" value="" placeholder="johndoe">
            <br>
            Password:<br>
            <input type="password" name="password" value="" placeholder="password">
            <br>
            <br>
            <input type="submit" value="Save">
            </fieldset>
        </form>
        <br>
    </body>
</html>